<p>
    <a rel="noopener noreferrer" href="https://apps.apple.com/nl/app/digidopa/id1528952293" target="_blank"><img id="__mcenew" src="/media/appstore.png" alt="appstore" data-udi="umb://media/7a73233baa3c46968fe882f33513d24d" width="148" height="44"></a>
</p>
<p>
    <a rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=nl.digidopa.app" target="_blank"><img id="__mcenew" src="/media/playstore.png" alt="playstore" data-udi="umb://media/4ab52ffea32f4639b1ea8e10ed091540" width="145" height="43"></a>
</p>