<a rel="noopener noreferrer" href="https://www.facebook.com/DigiDOPA" target="_blank"
    title="Visit DigiDOPA on Facebook">
    <img id="__mcenew" src="{{ get_url(path='/media/facebook.png') }}" alt="Visit DigiDOPA on Facebook" width="65" height="65">
</a>
<a rel="noopener noreferrer" href="https://www.instagram.com/digidopa/" target="_blank"
    title="Visit DigiDOPA on Instagram">
    <img id="__mcenew" src="{{ get_url(path='/media/instagram.png') }}" alt="Visit DigiDOPA on Instagram" width="65" height="65">
</a>