:root {
  --background: #fbfbfb;
  --background-transparent: rgba(251, 251, 251, 0.75);
  --bg-footer: #6e8ca0;
  --text: #2E3436;
  --primary: #D47FA6;
  --secondary: #d7c7cf;
}

* {
  font-family: 'Cantarell', 'Arial', 'Helvetica', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html,
body {
  background: var(--background);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav {
  background-color: var(--background-transparent);
  color: var(--text);
  padding: 0.5rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}

button,
.breadcrumb,
a {
  color: var(--primary);
  text-decoration: none;
  padding: 0.5em 0;
}

a:hover,
a:focus,
a:active {
  color: var(--text);
  cursor: pointer;
}

header {
  background-position: center;
  background-size: cover;
  color: var(--text);
  height: 300px;
  margin-top: 3rem;
}

header hgroup {
  background-color: rgba(255, 255, 255, 0.5);
}

header h1,
header h2 {
  font-weight: normal;
}

header h1 {
  font-weight: bold;
}

iframe {
  width: 100%;
  height: 80vh;
  border: none;
  display: block;
}

main p,
main a,
main h1,
main h2 {
  margin: 0.5rem 0;
}

main h1 {
  color: var(--text);
  font-size: 2em;
  margin-bottom: 0.5rem;
}

main h2 {
  color: var(--primary);
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

.active {
  color: var(--text);
}

ol,
ul {
  margin-left: 2em;
  padding-left: 2em;
}

hr {
  border: none;
}

hr,
.copy {
  clear: both;
  text-align: center;
  margin: 2rem auto;
}

main img {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  float: right;
}

hr+p img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.footer {
  background-color: var(--bg-footer);
  color: var(--background);
  padding: 1em 0;
}

.footer a {
  color: var(--secondary);
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: var(--background);
}

.footer p {
  margin: 1rem 0;
}

@media screen and (max-width: 1500px) {

  .logo,
  nav img {
    max-height: 1.5em;
    margin: auto 0;
  }
}

@media screen and (max-width: 800px) {
  nav .links {
    display: block;
    width: 100%;
  }

  nav button {
    display: flex;
    float: right;
    margin: 1rem;
    padding: 0.5rem 0.8rem;
  }

  nav a {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  nav button,
  nav a {
    border: 1px solid var(--primary);
    background: var(--background);
    cursor: pointer;
  }

  nav a {
    display: none;
  }

  .open a {
    display: block;
  }

  .open img,
  .open button {
    display: none;
  }

  nav button:hover,
  nav button:focus,
  nav button:active,
  nav a:hover,
  nav a:focus,
  nav a:active {
    background-color: var(--primary);
    color: var(--background);
    font-weight: bold;
  }

  header {
    text-align: center;
  }

  header hgroup {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    padding: 5rem 0;
    width: 100%;
  }

  header h1 {
    font-size: 2em;
  }

  header h2 {
    font-size: 1em;
  }

  main {
    padding: 0.5rem;
  }

  .block {
    width: 100%;
    padding: 0.5rem;
    display: block;
    ;
  }
}

@media screen and (min-width: 800px) {

  .footer,
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .block {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 800px) and (max-width: 1500px) {

  main,
  .block:first-child,
  nav img {
    margin-left: 8rem;
  }

  main,
  .block:last-child,
  .links {
    margin-right: 8rem;
  }

  header hgroup {
    padding-right: 8rem;
  }

  .block {
    width: 50%;
  }
}

@media screen and (min-width: 1500px) {

  main,
  .block:first-child,
  nav img {
    margin-left: 20rem;
  }

  main,
  .block:last-child,
  .links {
    margin-right: 20rem;
  }

  header hgroup {
    padding-right: 20rem;
  }

  .block {
    padding: 0.5rem;
    width: 50%;
  }

  footer img,
  nav img {
    max-height: 3em;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 800px) {
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  nav button {
    display: none;
  }

  nav a {
    margin: 1em auto;
    padding: 0 0.5rem;
  }

  header {
    text-align: right;
  }

  header hgroup {
    background-color: rgba(255, 255, 255, 0.5);
    float: right;
    height: 100%;
    padding-top: 2em;
    position: relative;
    width: 350px;
  }

  header h1 {
    font-size: 2.5em;
  }

  header h2 {
    font-size: 1.25em;
  }
}

.center {
  text-align: center;
}

.center p,
.center div,
.center img {
  display: block;
  margin: 0 auto;
  float: none;
  margin: 0.5rem auto;
}