{%- import "macros/breadcrumb.html" as macros -%}

<!DOCTYPE html>
<html lang="nl">

<head>
    {%- block head -%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  get_url(path='style.css') }}">
    <link rel="icon" href="{{ get_url(path='favicon.ico') }}" type="image/x-icon">
    {%- endblock head -%}
    <title>{%- block title -%}{{ config.title }}{%- endblock title -%}</title>
    <meta name="description" content="{{ config.description }}">
</head>

<body>
    {%- block navigation -%}
    <nav>
        <img src="{{ get_url(path='media/logo.png') }}" alt="Logo">
        <div class="links">
            <a href="/">Home</a>
            <a href="/werkwijze">Werkwijze</a>
            <a href="/app-downloaden">App downloaden</a>
        </div>
        <button id="toggle">☰</button>
    </nav>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const navLinks = document.querySelectorAll('nav a');
            navLinks.forEach(link => {
                if (link.href === window.location.href) {
                    link.classList.add('active');
                }
            });
        });

        // Toggle navigation menu for mobile view
        document.getElementById('toggle').addEventListener('click', function () {
            const nav = document.querySelector('nav');
            nav.classList.toggle('open');
        });
    </script>

    {%- endblock navigation -%}

    {%- block header -%}
    <header>
        <hgroup>
            <h1>{{ config.title }}</h1>
            <h2>{{ config.description }}</h2>
        </hgroup>
    </header>
    {%- endblock header -%}

    <main>
        {%- set comps = page.components | default(value=section.components | default(value=[])) -%}
        {{ macros::breadcrumb(path=comps) }}
        {%- block content -%}{%- endblock content -%}
    </main>

    {%- block footer -%}
    <footer>
        <p>&copy; {{ now() | date(format="%Y") }} {{ config.author }}</p>
    </footer>
    {%- endblock footer -%}
</body>

</html>